* {
    background-color: rgb(243,220,143);
}

.title {
    text-align: center;
    font-size: 100px;
    margin: 0;
    padding: 0;
    color: rgb(129,121,173);
    text-shadow: 3px 3px 2px #000;
    text-decoration: underlin;
}
.welcome {
    text-align: left;
    padding: 20px;
    margin: 10px;
}

.noUnderline {
    text-decoration: none;
}

.text {
    font-size: 21px;
}

section {
    color: #283a2c;
}


